/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "rk3399-firefly-aioc.dtsi"
#include <dt-bindings/display/media-bus-format.h>

/ {
	model = "AIO-3399C-AI Board 10.1 MIPI-M101014-BE45 (Linux Opensource)";
	compatible = "rockchip,rk3399-firefly", "rockchip,rk3399";

	v2801_en: v2801-en {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&v2801_en_h>;
		regulator-name = "v2801_en";
		regulator-always-on;
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&dc_ctl_h>;
		regulator-name = "dc_ctl";
		regulator-always-on;
	};

	vcc_otg_vbus: otg-vbus-regulator {
		compatible = "regulator-fixed";
		gpio = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&otg_vbus_drv>;
		regulator-name = "vcc_otg_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
	};
};

&pwm1 {
	status = "okay";
};

&backlight {
	status = "okay";
	pwms = <&pwm1 0 50000 1>;
	enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
	brightness-levels = <
		 60  60  60  61  61  61  62  62
		 62  63  63  63  64  64  64  65
		 65  65  66  66  66  67  67  67
		 68  68  68  69  69  69  70  70
		 70  71  71  71  72  72  72  73
		 73  73  74  74  74  75  75  75
		 76  76  76  77  77  77  78  78
		 78  79  79  79  80  80  80  81
		 81  81  82  82  82  83  83  83
		 84  84  84  85  85  85  86  86
		 86  87  87  87  88  88  88  89
		 89  89  90  91  92  93  94  95
		 96  97  98  99 100 101 102 103
		104 105 106 107 108 109 110 111
		112 113 114 115 116 117 118 119
		120 121 122 123 124 125 126 127
		128 129 130 131 132 133 134 135
		136 137 138 139 140 141 142 143
		144 145 146 147 148 149 150 151
		152 153 154 155 156 157 158 159
		160 161 162 163 164 165 166 167
		168 169 170 171 172 173 174 175
		176 177 178 179 180 181 182 183
		184 185 186 187 188 189 190 191
		192 193 194 195 196 197 198 199
		200 201 202 203 204 205 206 207
		208 209 210 211 212 213 214 215
		216 217 218 219 220 221 222 223
		224 225 226 227 228 229 230 231
		232 233 234 235 236 237 238 239
		240 241 242 243 244 245 246 247
		248 249 250 251 252 253 254 255
	>;
	default-brightness-level = <200>;
};

&dsi {
	status = "okay";
	firefly,dsi1-only;

	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
		dsi,lanes = <4>;

		status = "okay";

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <72600000>;//<80000000>;
				hactive = <800>;//<768>;
				vactive = <1280>;
				hsync-len = <14>;   //20, 50,10
				hback-porch = <26>; //50, 56,10
				hfront-porch = <32>;//50, 30,180
				vsync-len = <8>;//4
				vback-porch = <20>;//4
				vfront-porch = <80>;//8
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&dsi1 {
	status = "okay";

	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		backlight = <&backlight>;
		//power-supply = <&vcc_lcd>;
		enable-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio2 RK_PD4 GPIO_ACTIVE_LOW>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		bus-format = <MEDIA_BUS_FMT_RGB666_1X18>;
		dsi,lanes = <4>;

		enable-delay-ms = <35>;
		prepare-delay-ms = <6>;
		reset-delay-ms = <25>;
		init-delay-ms = <55>;
		unprepare-delay-ms = <0>;
		disable-delay-ms = <20>;
		size,width = <120>;
		size,height = <170>;

		status = "okay";

		//width-mm = <135>;
		//height-mm = <217>;

		panel-init-sequence = [
			05 78 01 11
			05 32 01 29
		];

		panel-exit-sequence = [
			05 05 01 28
			05 78 01 10
		];

		display-timings {
			native-mode = <&timing1>;

			timing1: timing1 {
				clock-frequency = <72600000>;//<80000000>;
				hactive = <800>;//<768>;
				vactive = <1280>;
				hsync-len = <14>;   //20, 50,10
				hback-porch = <26>; //50, 56,10
				hfront-porch = <32>;//50, 30,180
				vsync-len = <8>;//4
				vback-porch = <20>;//4
				vfront-porch = <80>;//8
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&i2c4 {
	status = "okay";

	//i2c-scl-rising-time-ns = <600>;
	//i2c-scl-falling-time-ns = <20>;

	hxchipset@48{
        status = "okay";
        compatible = "himax,hxcommon";
        reg = <0x48>;

        himax,rst-gpio =  <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;
        himax,irq-gpio = <&gpio1 RK_PC1 IRQ_TYPE_LEVEL_LOW>;
        //himax,3v3-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
        //himax,pon-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;

        himax,panel-coords = <0 800 0 1280>;      //触摸范围
        himax,display-coords = <0 800 0 1280>;    //分辨率
        report_type = <1>;
    };

	sensor@4c {
		status = "disabled";
		compatible = "gs_mc3230";
		reg = <0x4c>;
		type = <SENSOR_TYPE_ACCEL>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		layout = <2>;
	};

};

&route_hdmi {
	status = "disabled";
	connect = <&vopl_out_hdmi>;
};

&route_dsi {
	status = "okay";
};

&route_dsi1 {
	status = "okay";
	connect = <&vopb_out_dsi1>;
};

&dsi1_in_vopb {
	status = "okay";
};

&dsi1_in_vopl {
	status = "disabled";
};

&hdmi {
	status = "okay";
};

&hdmi_in_vopb {
	status = "disabled";
};

&hdmi_in_vopl {
	status = "okay";
};

&gmac {
	tx_delay = <0x2F>;
	rx_delay = <0x26>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&host_hub_vcc>;

	sg {
		v2801_en_h: v2801-en-h {
			rockchip,pins =
				<0 2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	dc {
		dc_ctl_h: dc-ctl-h {
			rockchip,pins =
				<1 2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	vbus-usb {
		otg_vbus_drv: otg-vbus-drv {
			rockchip,pins = <1 3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};

&fusb0 {
    status = "disabled";
};

&cdn_dp {
    status = "disabled";
};

&tcphy0 {
    /delete-property/ extcon;
    status = "disabled";
};

&u2phy0 {
    status = "okay";
    /delete-property/ extcon;
    u2phy0_otg: otg-port {
        vbus-supply = <&vcc_otg_vbus>; /*配置Vbus regulator属性 */
	status = "okay";
    };
};

&usbdrd3_0 {
    status = "okay";
    extcon = <&u2phy0>;
};

&usbdrd_dwc3_0 {
    dr_mode = "otg";
    phys = <&u2phy0_otg>;
    maximum-speed = "high-speed";
    phy-names = "usb2-phy";
};